@using ProgFlowManager.ASP.Tools;
@{
    ViewData["Title"] = "Home";
    ViewData["ControllerName"] = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}
@inject SessionManager _session;

<div class="text-center">
    @if (_session.ConnectedUser != null)
    {
        <h1 class="display-4">Welcome back</h1>
        <p>Hello @_session.ConnectedUser.Firstname, it's great to see you back</p>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p>You can <a asp-controller="User" asp-action="Register">create</a> or <a asp-controller="User" asp-action="Login">connect</a> to an account</p>
    }
    <p>Learn more about <a href="#doc">ProgFlowManager.API</a></p>

    <img src="@Url.Action("GetImage", "Data", new { id = 3})" />
</div>
